* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #F4F4F2;
}
.row {
  display: flex;
  justify-content: center;
}
.cell {
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
}
.green {
  background-color: #B2EF9B;
}
.yellow {
  background-color: #F8F4A6;
}
